@use 'vars' as v;


.bc-k-red { background-color: v.$k-red; }
.bc-k-orange { background-color: v.$k-orange; }
.bc-k-yellow { background-color: v.$k-yellow; }
.bc-k-green { background-color: v.$k-green; }
.bc-k-blue { background-color: v.$k-blue; }
.bc-k-purple { background-color: v.$k-purple; }

.bc-k-black { background-color: v.$k-black; }



.c-k-red { color: v.$k-red; }
.c-k-orange { color: v.$k-orange; }
.c-k-yellow { color: v.$k-yellow; }
.c-k-green { color: v.$k-green; }
.c-k-blue { color: v.$k-blue; }
.c-k-purple { color: v.$k-purple; }

.c-k-white { color: v.$k-white; }


.ts-k-red { text-shadow: -.2rem .2rem 0 v.$k-red; }
.ts-k-orange { text-shadow: -.2rem .2rem 0 v.$k-orange; }
.ts-k-yellow { text-shadow: -.2rem .2rem 0 v.$k-yellow; }
.ts-k-green { text-shadow: -.2rem .2rem 0 v.$k-green; }
.ts-k-blue { text-shadow: -.2rem .2rem 0 v.$k-blue; }
.ts-k-purple { text-shadow: -.2rem .2rem 0 v.$k-purple; }