
// COLORS
// as of now, these are unchanged from the old website

$k-red:       hsl(     0,  91.4%, 63.53%);        // reddish
$k-orange:    hsl( 26.04,   100%, 58.43%);        // orangey
$k-yellow:    hsl( 54   ,   100%, 64%   );        // yellowish
$k-green:     hsl(146.04,   100%, 58.43%);        // greenish
$k-blue:      hsl(196.12, 65.04%, 48.24%);        // bluish
$k-purple:    hsl(266.04,   100%, 58.43%);        // violety

$k-black:     hsl(     0,     0%,  2.35%);        // blacky
$k-darkgray:  hsl(     0,     0%, 19.92%);        // dark gray
$k-midgray:   hsl(     0,     0%, 53.33%);        // medium-dark gray
$k-lightgray: hsl(     0,     0%,    80%);        // medium-light gray
$k-white:     hsl(     0,     0%, 97.25%);        // whitish

// FONTS

$f-body: 'Lato', sans-serif;
$f-header: 'Merriweather', serif; 